<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="extentReports.ExtentReportManager"></listener>



    </listeners>

    <test verbose="2" preserve-order="true" name="C:/Users/thato/Documents/SeleniumFramework">
        <classes>
            <class name="testRunners.LoginTests">
                <methods>
                    <include name="verifyLoginPageContent"/>
                    <include name="standardUserLogin"/>
                    <include name="errorUserLogin"/>
                    <include name="lockedOutUserLogin"/>
                    <include name="performanceGlitchUserLogin"/>
                    <include name="problemUserLogin"/>
                    <include name="visualUserLogin"/>
                    <include name="invalidUserLogin"/>
                </methods>
            </class>
            <class name="testRunners.SauceDemoAddItemsTest">
                <methods>
                    <include name="verifyLoginPageContent"/>
                    <include name="enterLoginCredentials"/>
                    <include name="verifyInventoryPageContent"/>
                    <include name="AddItems"/>
                    <include name="viewCartItems"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>